{% extends 'navbar.html' %}

{% block content %}
    <h1>Welcome to workshop {{ workshop.title }}</h1>
    <br/>
    <h3>-Sessions</h3>
    {% for session in sessions %}
        {{ session.session_title }} : {{ session.session_date }}
        <br />
    {% endfor %}
    <a class = "btn btn-primary" href = "{% url 'workshop:createSession' workshop.id%}"> Create New Session</a>
    <br/>
    <br/>
    <h3>-Add invitees to your workshop</h3>
    <a class = "btn btn-primary" href = "{% url 'workshop:csv_upload' workshop.id%}"> CSV Upload</a>
    <br/>
    <br/>
    <h3>-List of attendees </h3>
    {% if workshop_associations %}
        {% for association in workshop_associations %}
                {{ association.attendee_local.email }}
                <br />
        {% endfor %}
        <a class = "btn btn-primary" href = "{% url 'workshop:bulkemail' workshop.id %} "> Send Emails</a>
    {% endif %}
    <br/>
    <br/>
    {% if attending %}
    <h3>-People who should be attending the workshop</h3>
        {% for email in attending %}
            {{email}}
        {% endfor%}
    {% endif %}





    <br/>
    <br/>
    <h3>-Create survey for the workshop</h3>
    {% if survey %}
        {{survey.title}}
        <br/>
    {% endif %}

   <a class = "btn btn-primary" href = " {% url 'workshop:createsurvey' workshop.id %}"> Create Survey</a>

    <br />
</div>


{% endblock %} }}